<!-- 也可以使用 $_SERVER['PHP_SELF'] 取代 $current_page -->

<div class="aside">
    <div class="profile">
        <img class="avatar" src="/static/uploads/avatar.jpg" id="user-icon" title="头像">
        <h3 class="name" id="user-name">布头儿</h3>
    </div>
    <ul class="nav">
        <li>
            <a href="{{ url_for('admin.showpage', page_name='index') }}"><i class="fa fa-dashboard"></i>仪表盘</a>
        </li>
        <li id="post-li">
            <a href="#menu-posts" data-toggle="collapse" class="collapsed">
                <i class="fa fa-thumb-tack"></i>文章<i class="fa fa-angle-right"></i>
            </a>
            <ul id="menu-posts" class="collapse">
                <li><a href="{{ url_for('admin.showpage', page_name='posts') }}">所有文章</a></li>
                <li><a href="{{ url_for('admin.showpage', page_name='post-add') }}">写文章</a></li>
                <li><a href="{{ url_for('admin.showpage', page_name='categories') }}">分类目录</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ url_for('admin.showpage', page_name='comments') }}"><i class="fa fa-comments"></i>评论</a>
        </li>
        <li>
            <a href="{{ url_for('admin.showpage', page_name='users') }}"><i class="fa fa-users"></i>用户</a>
        </li>
        <li>
            <a href="#menu-settings" data-toggle="collapse" class="collapsed">
                <i class="fa fa-cogs"></i>设置<i class="fa fa-angle-right"></i>
            </a>
            <ul id="menu-settings" class="collapse">
                <li><a href="{{ url_for('admin.showpage', page_name='nav-menus') }}">导航菜单</a></li>
                <li><a href="{{ url_for('admin.showpage', page_name='slides') }}">图片轮播</a></li>
                <li><a href="{{ url_for('admin.showpage', page_name='settings') }}">网站设置</a></li>
            </ul>
        </li>
    </ul>
</div>


