<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>Dashboard &laquo; Admin</title>
    <link rel="stylesheet" href="/static/js/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/js/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/js/nprogress/nprogress.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <script src="/static/js/nprogress/nprogress.js"></script>
    {% block css %}
    {% endblock %}
</head>
<body>
<div class="main">

    {% include "admin/inc/navbar.html" %}

    {% block content %}
    {% endblock %}
</div>

{% include "admin/inc/sidebar.html" %}

{% block js %}
{% endblock %}

<script src="/static/js/jquery/jquery.js"></script>
<script src="/static/js/bootstrap/js/bootstrap.js"></script>
<script>NProgress.done()</script>
<script>
    let currentPathName = window.location.pathname;
    let $isClickedEle = $('[href="'+ currentPathName + '"]');
    $isClickedEle.parents("li").addClass("active");
    $isClickedEle.parent().parent().addClass("in")
</script>
</body>
</html>
