<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>Dashboard &laquo; Admin</title>
  <link rel="stylesheet" href="/static/js/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/static/js/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/static/js/nprogress/nprogress.css">
  <link rel="stylesheet" href="/static/css/admin.css">
  <script src="/static/js/nprogress/nprogress.js"></script>
</head>
<body>
  <script>NProgress.start()</script>

  <div class="main">
     {% include "admin/inc/navbar.html" %}

    <div class="container-fluid">
      <div class="jumbotron text-center">
        <h1>One Belt, One Road</h1>
        <p>Thoughts, stories and ideas.</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('admin.showpage', page_name='post-add') }}" role="button">写文章</a></p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">站点内容统计：</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><strong>10</strong>篇文章（<strong>2</strong>篇草稿）</li>
              <li class="list-group-item"><strong>6</strong>个分类</li>
              <li class="list-group-item"><strong>5</strong>条评论（<strong>1</strong>条待审核）</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>

  {% include "admin/inc/sidebar.html" %}

  <script src="/static/js/jquery/jquery.js"></script>
  <script src="/static/js/bootstrap/js/bootstrap.js"></script>
  <script>NProgress.done()</script>
</body>
</html>
