{
  "presets": [
    "@babel/env",
  ],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],
    "@babel/syntax-dynamic-import"
  ]
}
